<div class="site-footer">
  <div class="container">
    <% include('footer-about', {}) %>
    <div class="row">
      <div class="col-12 text-center">
        <p class="mb-0">
          <a href="/" class="href"><%= settings.title %></a>
          &copy; 2020 -
          <script>
            document.write(new Date().getUTCFullYear());
          </script>
          |
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</div>
