<div class="site-mobile-menu">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar" role="banner">
  <div class="container">
    <div class="row align-items-center position-relative">
      <div class="col-12 search-form-wrap js-search-form">
        <form method="get" action="#">
          <input
            type="text"
            id="s"
            class="form-control"
            placeholder="Search..."
          />
          <button class="search-btn" type="submit">
            <span class="icon-search"></span>
          </button>
        </form>
      </div>

      <div class="col-md-4 col-8 site-logo">
        <a href="/" class="text-black h2 mb-0 text-center">
          <img src="<%= settings.logo %>" class="img-fluid" />
          <span><%= settings.title %></span>
        </a>
      </div>

      <div class="col-md-8 col-4 text-right">
        <nav class="site-navigation" role="navigation">
          <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block mb-0">
            <% settings.navigation.forEach(nav => { %>
            <li><a href="<%= nav.url %>"><%= nav.label %> </a></li>
            <% }) %>
            <li class="d-none d-lg-inline-block">
              <a href="#" class="js-search-toggle"
                ><span class="icon-search"></span
              ></a>
            </li>
          </ul>
        </nav>
        <a
          href="#"
          class="site-menu-toggle js-menu-toggle text-black d-inline-block d-lg-none"
          ><span class="icon-menu h3"></span
        ></a>
      </div>
    </div>
  </div>
</header>
