<div
  class="site-cover site-cover-sm same-height overlay single-page"
  style="background-image: url('/static/images/dragon.jpg'); min-height: 400px;"
></div>

<%- include('partials/home/recent-posts', { posts }) %>
</div>
